@import url('https://fonts.googleapis.com/css2?family=Coda&display=swap');

html {
    height: 100%;
    font-family: 'Coda', cursive;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.icon {
    height: 25px; 
    width: 25px; 
}

.nav-bar {
    display: flex;
    background-color: burlywood;
    gap: 1em;
    padding: 5px;
    box-shadow: 0px 8px 30px 0px rgba(0,0,0,0.23);
    z-index: 10;
    position: relative;
}

.nav-item {
    display: flex;
    align-items: center;
}

.nav-logo {
    margin-bottom: 20;
}

.nav-item > a:link, a:visited, a:active {
    color: black;
    text-decoration: none;
    font-size: 11px;
}

.main-contents {
    background-color: #784b91;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 1em;
    color: black;
}

.bio {
    text-align: center;
}

.projects > ul {
    padding: 0;
    list-style: none;
    margin: 0 auto 0 auto;
}

.contacts {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.contact-icon {
    height: 18px;
    width: 18px;
}